<html>
	<head>
		{% if title %}
			<title>{{ title }} - Dolce Vita</title>
		{% else %}
		<title> Welcome to Dolce Vita</title>
{% endif %}
</head>
<body bgcolor="pink">
<div><h1><font color='990033'>Dolce Vita</font></h1>
<a href="{{ url_for('index') }}">Главная</a>
  </div>
<hr>
{% with messages = get_flashed_messages() %}
{% if message %}
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{%endwith %}
{% block content %}{% endblock %}

</body>
</html>