{% extends "base.html" %}

{% block content %}
	<h1><font color='660066'>Мы готовы ответить на все ваши вопросы в любое время</font></h1>
<h1><font color='660066'>Наши контакты: 8(999)123-123-12-12</font></h1>
<h1><font color='660066'>Наша почта: dolce_vita@mail.ru	</font></h1>
<h1><font color='660066'>Наш магазин находится по адресу: ул. Пятницкая, дом 33, г. Москва</font></h1>
<h1><font color='660066'>Ждем Вас с 9 до 20 в любой день</font></h1>
<h1><font color='660066'>Вы можете добраться от станции метро Третьяковская или Новокузнецкая</font>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.1046145112154!2d37.62631071593001!3d55.73931128054978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afd9c0ff391%3A0x8451f86b338d265e!2z0YPQuy4g0J_Rj9GC0L3QuNGG0LrQsNGPLCAzMywg0JzQvtGB0LrQstCwLCAxMTkwMTc!5e0!3m2!1sru!2sru!4v1588934837137!5m2!1sru!2sru" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{% for post in posts %}
<div>
		<p>{{post.author.username}} says: <b>{{post.body}}</b></p>
	</div>
	{% endfor %}
{%endblock%}