{% extends "base.html" %}
{% block content %}
<h1><font color='660066'>Информация о товаре </font></h1>
<h1>Кожа натуральная: 100%
<br>Страна производства: Италия</br>
Страна дизайна: Франция
<br>Параметры изделия: Высота 15 см, ширина 22 см, глубина 6 см, длина ремешка 102 см</br>
В комплект входит: пыльник, ремешок<h1>
<a href="{{ url_for('login') }}">Купить</a>
{% for post in posts %}
<div>
		<p>{{post.author.username}} says: <b>{{post.body}}</b></p>
	</div>
	{% endfor %}
{%endblock%}